*.[pi]db
*.bmp
*.db
*.exe
*.gif
*.ilk
*.ipch
*.jpeg
*.jpg
*.lastbuildstate
*.log
*.manifest
*.obj
*.png
*.sdf
*.sublime-workspace
*.suo
*.tlog
*bak
.Sync*
config.ini
desktop.ini
favourites
generated
hotkeys.ini
perl
trash
wp
.idea
target
.bloop/
wpt/wpt/
