[buttons]
;annotation are for xbox controller
;button 1 (a)
1=votedown 1 pregen
;button 2 (b)
2=voteup 1 pregen
;button 3 (x)
4=-1 pregen
;button 4 (y)
8=sketchy
;left shoulder
16=teu
;right shoulder
32=upload
;select
64=rand
;start
128=fav
;left analog stick
256=purge
;right analog stick
512=nsfw
[pov]
;0 is up clockwise increase of 1 for each of the 8 directions
2=1
6=-1
4=open
[axis]
;axis 1 is left stick x axis
1=1 pregen
-1=-1 pregen
[key]
v=voteup 1 pregen
x=votedown 1 pregen
y=-1 pregen
c=1 pregen
t=teu
z=upload
s=nsfw
f=fav
r=rand
d=delete
p=purge
