[buttons]
1=voteup 1 pregen
2=votedown 1 pregen
4=-1 pregen
8=1 pregen
16=teu
32=upload
64=nsfw
128=fav
256=rand
512=delete
[pov]
2=1
6=-1
[axis]
1=1
-1=-1
[key]
v=voteup 1 pregen
x=votedown 1 pregen
y=-1 pregen
c=1 pregen
t=teu
z=upload
s=nsfw
f=fav
r=rand
d=delete